<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-5 font-weight-normal">Page name / logo</h5>
    <nav class="my-2 my-md-0 mr-md-3 mr-md-auto">
        <a href="/" class="p-2 text-dark text-nowrap">Link 1</a>
        <a href="/" class="p-2 text-dark text-nowrap">Link 2</a>
        <a href="/" class="p-2 text-dark text-nowrap">Link 3</a>
        <a href="/" class="p-2 text-dark text-nowrap">Link 4</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="/" class="p-2 text-dark text-nowrap">Link 5</a>
        <a href="/" class="p-2 text-dark text-nowrap">Link 6</a>
    </nav>
</header>
